app-sticky-cta {
    .container {
        .action-btn {
            button {
                display: inline-block;
                color: #fff;
                background-color: #000;
                font-family: Montserrat;
                font-weight: 600;
                display: block;
                padding: 15px 25px;
                margin-top: 10px;
                border-radius: 50px 0 0 50px;
                font-size: 16px;
                text-decoration: none;
                border: 1px solid #000;
                border-right: 0;
                font-weight: 500;
            }
        }
        .footer-action-btn {
            .mat-primary.mat-raised-button {
                border-radius: 40px;
                box-shadow: none;
                background-color: #fff;
                color: #000;
                height: 46px;
                line-height: 24px;
                width: 10em;
                font-weight: 500;
            }
        }
    }
}
